<table class="table table-striped">

  <td width=150 style="text-align: center">{{listdonneurordreintitinput}}</td>
  <td width=200 style="text-align: center">15</td>
  <td width=200 style="text-align: center">{{listdonneurordrename2input}}</td>
  <td width=200 style="text-align: center">{{listdonneurordretel2input }}</td>
  <td width=200 style="text-align: center">{{listdonneurordreemail2input }}</td>
  <td width=100><div>
    <button type="button"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Modifier</button>
  </div></td>
</table>
