<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="background-color: #009DDE">
        <div style="text-align: center; color: #FFFFFF"> <strong>LISTE DONNEUR D' ORDRE</strong></div>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th width=150 style="text-align: center; color: #7AB51C">Intitulé</th>
                <th width=200 style="text-align: center; color: #7AB51C">Nombre de clients</th>
                <th width=200 style="text-align: center; color: #7AB51C">Contact</th>
                <th width=200 style="text-align: center; color: #7AB51C">Téléphone contact</th>
                <th width=200 style="text-align: center; color: #7AB51C">Mail contact</th>
                <th width=100></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let donneur of donneurs;let i = index;">
                <td style="text-align: center">
                  <p>
                    {{donneur.intitinput}}
                  </p>
                </td>
                <td style="text-align: center">
                  <p>
                    {{donneur.name2input}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{donneur.tel2input}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{donneur.email2input}}
                  </p>
                </td>
                <td width=100><div>
                  <button type="button"  class="btn btn-sm btn-primary" (click)="sendTo()" ><i class="fa fa-dot-circle-o"></i>Modifier</button>
                </div></td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

