<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="background-color: #009DDE">
        <div style="text-align: center; color: #FFFFFF"> <strong>LISTE CLIENTS</strong></div>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th width=150 style="text-align: center; color: #7AB51C">Etablissement</th>
                <th width=200 style="text-align: center; color: #7AB51C">Adresse</th>
                <th width=200 style="text-align: center; color: #7AB51C">Code postal</th>
                <th width=200 style="text-align: center; color: #7AB51C">Nom du donneur d'ordre</th>
                <th width=200 style="text-align: center; color: #7AB51C">Nombre de tickets</th>
                <th width=100>  </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let client of clients;let i = index;">
                <td style="text-align: center">
                  <p>
                    {{client.etabl}}
                  </p>
                </td>
                <td style="text-align: center">
                  <p>
                    {{client.addr}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{client.ville}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{client.nameinput}}
                  </p>
                </td>
                <td width=100><div>
                  <button type="button"  class="btn btn-sm btn-primary" (click)="sendTo()" ><i class="fa fa-dot-circle-o"></i>Modifier</button>
                </div></td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
