<form (ngSubmit)="onSubmit3(c)" #c="ngForm">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header" style="background-color: #009DDE">
          <div style="text-align: center; color: #FFFFFF"> <strong>FORMULAIRE D'AJOUT DE TECHNICIEN</strong></div>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="nomt" style="color: #7AB51C">Nom</label>
            <div class="col-md-9">
              <input type="text" id="nomt" name="nomt" class="form-control" placeholder="Nom.." [(ngModel)]="technicien.nomt">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="telx" style="color: #7AB51C">Téléphone</label>
            <div class="col-md-9">
              <input type="tel" id="telx" name="telx" class="form-control" placeholder="Tel.." [(ngModel)]="technicien.telx">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="fctx" style="color: #7AB51C">Fonction</label>
            <div class="col-md-9">
              <input type="text" id="fctx" name="fctx" class="form-control" placeholder="Fonction.." [(ngModel)]="technicien.fctx">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <div>
              <button type="submit" class="btn btn-sm btn-primary" [disabled]="c.invalid"><i class="fa fa-dot-circle-o"></i> Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
