<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="background-color: #009DDE">
        <div style="text-align: center; color: #FFFFFF"> <strong>LISTE TECHNICIENS</strong></div>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th style="text-align: center">Nom</th>
                <th style="text-align: center">Téléphone</th>
                <th style="text-align: center">Fonction</th>
                <th>  </th>
              </tr>
              </thead>
            </table>
            <button type="submit" class="btn btn-sm btn-primary" (click)="onAjout()"><i class="fa fa-dot-circle-o"></i>Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



