<div class="animated fadeIn">


  <h3>Tickets</h3>
  <!--/.row pour les TICKETS -->
  <div class="row">
    <!--/.Tickets en attente -->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-attente">
          <i class="fa fa-spinner"></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">En attente</div>
            <div class="text-value">150</div>
          </div>

        </div>
      </div>
    </div>

    <!--/.col TICKETS EN COURS-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-encours">
          <i class="fa fa-exchange"></i>
        </div>
        <div class="brand-card-body">
          <div>

            <div class="text-uppercase">En cours</div>
            <div class="text-value">25</div>
          </div>
        </div>
      </div>
    </div>


    <!--/.col TICKETS RESOLUS-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-resolu">
          <i class="fa fa-check-square-o"></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">Résolus</div>
            <div class="text-value">510</div>
          </div>
        </div>
      </div>
    </div>


    <!--/.col TICKETS A CREER-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <a routerLink="/tickets/list-demande">
        <div class="brand-card-header bg-acreer">
          <i class="fa fa-edit"></i>
        </div></a>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">A créer</div>
            <div class="text-value">3</div> <!-- Valeur à incrémenter-->
          </div>
        </div>
      </div>
    </div>

    <!--/.col TICKETS ANNULES-->

    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-annuler">
          <i class="fa fa-minus-circle"></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">Annulés</div>
            <div class="text-value">4</div>
          </div>
        </div>
      </div>
    </div>



  </div>



  <!--/.row pour les MATERIELS -->

  <h3>Matériels</h3>
  <div class="row">
    <!--/.VIDEO PROJ -->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-light-blue">
          <i class="fa fa-film"></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">Vidéo projecteurs</div>
            <div class="text-value">350</div>
          </div>

        </div>
      </div>
    </div>

    <!--/.col INFORMATIQUES-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-light-blue">
          <i class="fa fa-laptop"></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">Informatiques</div>
            <div class="text-value">243</div>
          </div>
        </div>
      </div>
    </div>


    <!--/.col IMPRIMANTES-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-light-blue">
          <i class="fa fa-print"></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">Imprimantes</div>
            <div class="text-value">198</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <div class="brand-card-header bg-light-blue">
          <i class="fa fa-television"></i>
        </div>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">TBI</div>
            <div class="text-value">198</div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <h3>Clients</h3>
  <div class="row">
    <!--/.DONNEUR D ORDRE -->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <a routerLink="/clients/list-donneur-ordre">
        <div class="brand-card-header bg-vertLBI">
          <i class="fa fa-institution"></i>
        </div></a>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">Donneurs d'ordre</div>
            <div class="text-value">47</div>
          </div>

        </div>
      </div>
    </div>

    <!--/.col Clients-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <a routerLink="/clients/list-client">
        <div class="brand-card-header bg-vertLBI">
          <i class="fa fa-users"></i>
        </div></a>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">Clients</div>
            <div class="text-value">243</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/.Technicien -->
  <h3>Techniciens</h3>
  <div class="row">
    <!--/.-->
    <div class="col-sm-6 col-lg-4">
      <div class="brand-card">
        <a routerLink="/techniciens/list-technicien">
        <div class="brand-card-header bg-gray-dark">
          <i class="fa fa-wrench"></i>
        </div></a>
        <div class="brand-card-body">
          <div>
            <div class="text-uppercase">Techniciens</div>
            <div class="text-value">5</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
