<form (ngSubmit)="onSubmit54(d)" #d="ngForm">
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="background-color: #009DDE">
        <div style="text-align: center; color: #FFFFFF"> <strong>FORMULAIRE D'AJOUT DE MATERIEL</strong></div>
      </div>
      <div class="card-body">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="typemat1" style="color: #7AB51C">Type</label>
            <div class="col-md-9">
              <select id="typemat1" name="typemat1" class="form-control" [(ngModel)]="materiel.typemat1" >
                <option *ngFor="let type of types;">{{type.typemat2}}</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="marqueinput" style="color: #7AB51C">Marque</label>
            <div class="col-md-9">
              <input type="text" id="marqueinput" name="marqueinput" class="form-control" placeholder="Marque.." [(ngModel)]="materiel.marqueinput">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="modeleinput" style="color: #7AB51C">Modèle</label>
            <div class="col-md-9">
              <input type="text" id="modeleinput" name="modeleinput" class="form-control" placeholder="Modèle.." [(ngModel)]="materiel.modeleinput">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="matriinput" style="color: #7AB51C">Matricule</label>
            <div class="col-md-9">
              <input type="text" id="matriinput" name="matriinput" class="form-control" placeholder="Matricule.." [(ngModel)]="materiel.matriinput">
            </div>
          </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="donneur2" style="color: #7AB51C">Donneur d'ordre</label>
          <div class="col-md-9">
            <select id="donneur2" name="donneur2" class="form-control" [(ngModel)]="materiel.donneur2">
              <option value="Univ Lorraine">Univ Lorraine</option>
              <option value="Mairie Nancy">Mairie Nancy</option>
              <option value="Conseil régional">Conseil régional</option>
              <option value="Dalkia">Dalkia</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="client1" style="color: #7AB51C">Client</label>
          <div class="col-md-9">
            <select id="client1" name="client1" class="form-control" [(ngModel)]="materiel.client1">
              <option value="Polytech">Polytech</option>
              <option value="Emile Gallé">Emile Gallé</option>
              <option value="Dalkia">Dalkia</option>
              <option value="Jacques Callot">Jacques Callot</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="dateachat1"style="color: #7AB51C">Date d'achat</label>
          <div class="col-md-9">
            <input class="form-control" id="dateachat1" type="date" name="dateachat1" placeholder="Date" [(ngModel)]="materiel.dateachat1">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 col-form-label" for="dategarantie1"style="color: #7AB51C">Fin de garantie</label>
          <div class="col-md-9">
            <input class="form-control" id="dategarantie1" type="date" name="dategarantie1" placeholder="Date" [(ngModel)]="materiel.dategarantie1">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div>
          <div>
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="d.invalid"><i class="fa fa-dot-circle-o"></i> Enregistrer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
