<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="background-color: #009DDE">
        <div style="text-align: center; color: #FFFFFF"> <strong>LISTE UTILISATEURS</strong></div>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th style="text-align: center">Nom</th>
                <th style="text-align: center">Prénom</th>
                <th style="text-align: center">Profil</th>
                <th>  </th>
              </tr>
              </thead>
              <tbody>
              <!-- A injecter depuis serveur + ngfor -->
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

