<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="background-color: #009DDE">
        <div style="text-align: center; color: #FFFFFF"> <strong>LISTE UTILISATEURS</strong></div>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th style="text-align: center; color: #7AB51C">Nom</th>
                <th style="text-align: center; color: #7AB51C">Prénom</th>
                <th style="text-align: center; color: #7AB51C">Profil</th>
                <th>  </th>
              </tr>
              </thead>
              <tbody>
              <div *ngFor="let utilisateur of utilisateurs;let i = id_user;" class="list-group-item row">
                <td width=150 style="text-align: center">
                  <input type="text" [(ngModel)]="utilisateurs[i].name7" class="form-control" #name7="ngModel" [ngClass]="{ 'is-invalid': name7.touched && name7.invalid }">
                </td>
                <td width=200 style="text-align: center">
                  <input type="text" [(ngModel)]="utilisateurs[i].prenom5" class="form-control" #prenom5="ngModel" [ngClass]="{ 'is-invalid': prenom5.touched && prenom5.invalid }">
                </td>
                <td width=200 style="text-align: center">
                  <input type="text" [(ngModel)]="utilisateurs[i].niv" class="form-control" #niv="ngModel" [ngClass]="{ 'is-invalid': niv.touched && niv.invalid }">
                  <input type="text" class="form-control" [(ngModel)]="utilisateur[i].name7" #name7="ngModel" [ngClass]="{ 'is-invalid': name7.touched && name7.invalid }">
                </td>
                <td width=200 style="text-align: center">
                  <input type="text" class="form-control" [(ngModel)]="utilisateur[i].prenom5" #prenom5="ngModel" [ngClass]="{ 'is-invalid': prenom5.touched && prenom5.invalid }">
                </td>
                <td width=200 style="text-align: center">
                  <input type="text" class="form-control" [(ngModel)]="utilisateur[i].niv" #niv="ngModel" [ngClass]="{ 'is-invalid': niv.touched && niv.invalid }">
                </td>
                <td width=100><div>
                  <button type="button"  class="btn btn-sm btn-primary" (click)="sendTo()" ><i class="fa fa-dot-circle-o"></i>Modifier</button>
                  <button type="button"  class="btn btn-sm btn-danger" (click)="deleteUser(utilisateur.id)"><i class="fa fa-dot-circle-o"></i>Supprimer</button>
                </div></td>
              </div>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

