<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="background-color: #009DDE">
        <div style="text-align: center; color: #FFFFFF"> <strong>LISTE TICKETS</strong></div>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th width=150 style="text-align: center; color: #7AB51C">Type</th>
                <th width=200 style="text-align: center; color: #7AB51C">Etat du ticket</th>
                <th width=200 style="text-align: center; color: #7AB51C">Date d'appel</th>
                <th width=150 style="text-align: center; color: #7AB51C">Date d'intervention</th>
                <th width=200 style="text-align: center; color: #7AB51C">Client</th>
                <th width=200 style="text-align: center; color: #7AB51C">Code postal</th>
                <th width=300 style="text-align: center; color: #7AB51C">Nom du technicien</th>
                <th width=150></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let ticket of tickets;let i = index;">
                <td style="text-align: center">
                  <p>
                    {{ticket.fiche}}
                  </p>
                </td>
                <td style="text-align: center">
                  <p>
                    {{ticket.etat1}}
                  </p>
                </td>
                <td style="text-align: center">
                  <p>
                    {{ticket.dateappel2}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{ticket.dateinterv}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{ticket.client2}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{ticket.villeinput}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{ticket.technicien1}} {{ticket.technicien2}} {{ticket.technicien3}} {{ticket.technicien4}}
                  </p>
                </td>
                <td width=100><div>
                  <button type="button"  class="btn btn-sm btn-primary" (click)="sendTo()" ><i class="fa fa-dot-circle-o"></i>Modifier</button>
                </div></td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

