<!--appareil-view.html-->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="background-color: #009DDE">
        <div style="text-align: center; color: #FFFFFF"> <strong>LISTE DE DEMANDES</strong></div>
      </div>
      <div class="card-body">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="card-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th width=150 style="text-align: center; color: #7AB51C">Date</th>
                <th width=200 style="text-align: center; color: #7AB51C">Récepteur de l'appel</th>
                <th width=200 style="text-align: center; color: #7AB51C">Client</th>
                <th width=200 style="text-align: center; color: #7AB51C">Type</th>
                <th width=200 style="text-align: center; color: #7AB51C">Type de matériel</th>
                <th width=300 style="text-align: center; color: #7AB51C">Commentaires</th>
                <th width=100> </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let demande of demandes;let i = index;">
                <td style="text-align: center">
                  <p>
                    {{demande.dateappel1}}
                  </p>
                </td>
                <td style="text-align: center">
                  <p>
                    {{demande.recep}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{demande.client}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{demande.typefiche}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{demande.typemat3}}
                  </p>
                </td>
                <td  style="text-align: center">
                  <p>
                    {{demande.descri}}
                  </p>
                </td>
                <td width=100><div>
                  <button type="button"  class="btn btn-sm btn-primary" (click)="sendTo()"><i class="fa fa-dot-circle-o"></i>Créer</button>
                </div></td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




