<table class="table table-striped">

  <td width=150 style="text-align: center">{{listticketfiche}}</td>
  <td width=200 style="text-align: center">{{listticketselect17}}{{listticketselect19}}</td>
  <td width=200 style="text-align: center">{{listticketdateinput }}{{listticketdate2input }}</td>
  <td width=250 style="text-align: center">{{listticketdate1input }}{{listticketdate3input }}</td>
  <td width=200 style="text-align: center">{{listticketselect3 }}{{listticketselect9 }}</td>
  <td width=200 style="text-align: center">{{listticketvilleinput }}{{listticketville1input }}</td>
  <td width=275 style="text-align: center">{{listtickettechnicien1 }} {{listtickettechnicien2 }} {{listtickettechnicien3 }} {{listtickettechnicien4 }} {{listtickettechnicien5 }} {{listtickettechnicien6 }} {{listtickettechnicien7 }} {{listtickettechnicien8 }} </td>
  <td width=100><div>
    <button style="width: 75px; height: 25px"  type="button"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Modifier</button>
    <button style="width: 75px; height: 25px" type="button"  class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>Détails</button>
  </div></td>
</table>


