<form (ngSubmit)="onSubmit1(b)" #b="ngForm">
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" style="background-color: #FFFFFF">
        <img src="assets\img\brand\lbi_txt.png" alt="LBI_Designation"/>
        <H3 style="text-align: center; color: #7AB51C" ><strong>FICHE D'INTERVENTION</strong></H3>
        <div class="row">
          <div class="col-md-6">
            <label class="col-md-3 col-form-label" for="select19" style="color: #7AB51C">Etat</label>
            <select id="select19" name="select19" class="form-control" ngModel>
              <option value="En attente">En attente</option>
              <option value="En cours">En cours</option>
              <option value="Résolu">Résolu</option>
              <option value="Annulé">Annulé</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div>
            <div class="card-header" style="background-color: #009DDE">
              <div style="text-align: center; color: #FFFFFF"><strong>INFORMATIONS CLIENT</strong></div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select8" style="color: #7AB51C">Donneur d'ordre</label>
                  <div class="col-md-6">
                    <select id="select8" name="select8" class="form-control" ngModel>
                      <option value="Univ Lorraine">Univ Lorraine</option>
                      <option value="Mairie Nancy">Mairie Nancy</option>
                      <option value="Conseil régional">Conseil régional</option>
                      <option value="Dalkia">Dalkia</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select9" style="color: #7AB51C">Client</label>
                  <div class="col-md-6">
                    <select id="select9" name="select9" class="form-control" [(ngModel)]="client">
                      <option value="Polytech">Polytech</option>
                      <option value="Emile Gallé">Emile Gallé</option>
                      <option value="Dalkia">Dalkia</option>
                      <option value="Jacques Callot">Jacques Callot</option>
                    </select>
                  </div>
                </div>
                <!--Généré automatiquement en fct des choix précédents-->
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="addr1input" style="color: #7AB51C">Adresse</label>
                  <div class="col-md-6">
                    <input type="text" id="addr1input" name="addr1input" class="form-control" placeholder="Adresse..." ngModel>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="ville1input" style="color: #7AB51C">Ville</label>
                  <div class="col-md-6">
                    <input type="text" id="ville1input" name="ville1input" class="form-control" placeholder="Ville..." ngModel>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="info1input" style="color: #7AB51C">Infos supp.</label>
                  <div class="col-md-6">
                    <input type="text" id="info1input" name="info1input" class="form-control" placeholder="(N° salle, étage..)" ngModel>
                  </div>
                </div>
                <!--A remplir manuellement-->
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="tel6input" style="color: #7AB51C">Téléphone</label>
                  <div class="col-md-6">
                    <input type="tel" id="tel6input" name="tel6input" class="form-control" placeholder="Tel..." ngModel >
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="tel7input" style="color: #7AB51C">Portable</label>
                  <div class="col-md-6">
                    <input type="tel" id="tel7input" name="tel7input" class="form-control" placeholder="Tel..." ngModel>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="respons1input" style="color: #7AB51C">Interlocuteur</label>
                  <div class="col-md-6">
                    <input type="text" id="respons1input" name="respons1input" class="form-control" placeholder="Interlocuteur..." ngModel>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select20" style="color: #7AB51C">Type de contrat</label>
                  <div class="col-md-6">
                    <select id="select20" name="select20" class="form-control" ngModel >
                      <option value="Régie">Régie</option>
                      <option value="Sous contrat">Sous contrat</option>
                      <option value="Sous garantie">Sous garantie</option>
                      <option value="Payant">Payant</option>
                    </select>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <div class="card-header" style="background-color: #009DDE">
              <div style="text-align: center; color: #FFFFFF"><strong>INFORMATIONS INTERNE</strong></div>
            </div>
            <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="technicien5" style="color: #7AB51C">Technicien n°1</label>
                <div class="col-md-6">
                  <input class="form-control" id="technicien5" type="text" name="technicien5" ngModel >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="technicien6" style="color: #7AB51C">Technicien n°2</label>
                <div class="col-md-6">
                  <input class="form-control" id="technicien6" type="text" name="technicien6" ngModel >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="technicien7" style="color: #7AB51C">Technicien n°3</label>
                <div class="col-md-6">
                  <input class="form-control" id="technicien7" type="text" name="technicien7" ngModel >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="technicien8" style="color: #7AB51C">Technicien n°4</label>
                <div class="col-md-6">
                  <input class="form-control" id="technicien8" type="text" name="technicien8" ngModel >
                </div>
              </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="date2input"style="color: #7AB51C">Date appel</label>
                  <div class="col-md-6">
                    <input class="form-control" id="date2input" type="date" name="date2input" placeholder="Date" [(ngModel)]="date1">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="date3input" style="color: #7AB51C">Date inter.</label>
                  <div class="col-md-6">
                    <input class="form-control" id="date3input" type="date" name="date3input" placeholder="Date" ngModel>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="time5input" style="color: #7AB51C">Heure inter.</label>
                  <div class="col-md-6">
                    <input class="form-control" id="time5input" type="time" name="time5input" ngModel>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="select10" style="color: #7AB51C">Type de matériel</label>
                  <div class="col-md-6">
                    <select id="select10" name="select10" class="form-control" [(ngModel)]="radios1">
                      <option value="TBI">TBI</option>
                      <option value="Informatique">Informatique</option>
                      <option value="Imprimante">Imprimante</option>
                      <option value="Vidéoprojecteur">Vidéoprojecteur</option>
                      <option value="Ecran interactif">Ecran interactif</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label" for="matri2input" style="color: #7AB51C">Matricule</label>
                  <div class="col-md-6">
                    <input type="text" id="matri2input" name="matri2input" class="form-control" placeholder="Matricule..." ngModel>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="card-header" style="background-color: #009DDE">
              <div style="text-align: center; color: #FFFFFF"><strong>DESCRIPTION DE LA PANNE</strong></div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                  <div class="col-md-12">
                    <textarea id="textarea5input" name="textarea5input" rows="4" class="form-control" placeholder="Veuillez décrire la panne.." ngModel></textarea>
                  </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="card-header" style="background-color: #009DDE">
              <div style="text-align: center; color: #FFFFFF"><strong>DESCRIPTION DES TRAVAUX</strong></div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                  <div class="col-md-12">
                    <textarea id="textarea6input" name="textarea6input" rows="5" class="form-control" placeholder="Veuillez décrire les travaux effectués.." ngModel></textarea>
                  </div>
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                    <tr>
                      <th style="background-color: #009DDE; color: #FFFFFF;">Désignation</th>
                      <th style="background-color: #009DDE; color: #FFFFFF;">Détail</th>
                      <th style="background-color: #009DDE; color: #FFFFFF;">Quantité</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td style="color: #7AB51C">Prise en charge et forfait déplacement : 20km</td>
                      <td><input type="text" id="forait1input" name="forfait1input" class="form-control" ngModel></td>
                      <td>
                        <div class="col-md-3"><input type="text" id="quan4input" name="quan4input" class="form-control"></div>
                      </td>
                    </tr>
                    <tr>
                      <td style="color: #7AB51C">Main-d'oeuvre</td>
                      <td><input type="text" id="oeuvre1input" name="oeuvre1input" class="form-control" ngModel></td>
                      <td><div class="col-md-3"><input type="text" id="quan5input" name="quan5input" class="form-control"></div></td>
                    </tr>
                    <tr>
                      <td style="color: #7AB51C">Pièces détachées</td>
                      <td><textarea id="piece1input" name="piece1input" rows="2" class="form-control" ngModel></textarea></td>
                      <td><div class="col-md-3"><input type="text" id="quan6input" name="quan6input" class="form-control"></div></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <div class="card-header" style="background-color: #009DDE">
              <div style="text-align: center; color: #FFFFFF"><strong>CLIENT</strong></div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="name6input" style="color: #7AB51C">Nom du signataire</label>
                      <input type="text" class="form-control" id="name6input" name="name6input" ngModel>
                    </div>
                  </div>
                </div><!--/.row-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="textarea7input" style="color: #7AB51C">Signature et cachet du client</label>
                      <signature-pad id="textarea7input" name="textarea7input"></signature-pad>
                    </div>
                  </div>
                </div><!--/.row-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <div class="card-header" style="background-color: #009DDE">
              <div style="text-align: center; color: #FFFFFF;"><strong>TECHNICIEN</strong></div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="time6input" style="color: #7AB51C">Heure arrivée</label>
                      <input class="form-control" id="time6input" type="time" name="time6input" ngModel>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="time7input" style="color: #7AB51C">Heure départ</label>
                      <input class="form-control" id="time7input" type="time" name="time7input" ngModel>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label></label>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div><!--/.row-->
        <div class="col-md-4">
          <div>
            <div class="card-header" style="background-color: #009DDE">
              <div style="text-align: center; color: #FFFFFF" > <strong>RAISON DE CLOTURE DU TICKET</strong></div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <textarea id="textarea8input" name="textarea8input" rows="8" class="form-control" ngModel></textarea>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <input type="file" id="fileinput1" name="fileinput1" ngModel>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary" [disabled]="b.invalid"><i class="fa fa-dot-circle-o"></i> Enregistrer</button>
      </div>
    </div>
  </div>
</div>
</form>
