<table class="table table-striped">

  <td width=150 style="text-align: center">{{listticketfiche}}</td>
  <td width=200 style="text-align: center">{{listticketetat1}}{{listticketetat2}}</td>
  <td width=200 style="text-align: center">{{listticketdateappel2 }}{{listticketdateappel3 }}</td>
  <td width=250 style="text-align: center">{{listticketdateinterv }}{{listticketdinterv }}</td>
  <td width=200 style="text-align: center">{{listticketclient2 }}{{listticketclient4 }}</td>
  <td width=200 style="text-align: center">{{listticketvilleinput }}{{listticketville1input }}</td>
  <td width=275 style="text-align: center">{{listtickettechnicien1 }} {{listtickettechnicien2 }} {{listtickettechnicien3 }} {{listtickettechnicien4 }} {{listtickettechnicien5 }} {{listtickettechnicien6 }} {{listtickettechnicien7 }} {{listtickettechnicien8 }} </td>
  <td width=100><div>
    <button style="width: 75px; height: 25px"  type="button"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Modifier</button>
    <button style="width: 75px; height: 25px" type="button"  class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>Détails</button>
  </div></td>
</table>


